<root>
    <folders>
        <path>/3ds/Emulators/</path>
        <path>/3ds/Homebrew Games/</path>
        <path>/3ds/Utilities/</path>
		<path>/3ds/Other/</path>
		<toolbar>0</toolbar>
		<swipe_sens>40</swipe_sens>
        <mix_files>0</mix_files>
        <case_sensitive>0</case_sensitive>
        <disable_RF>1</disable_RF>
		<remember_RF>0</remember_RF>
 		<current_theme>2</current_theme>
		<random_theme>1</random_theme>
		<menu_pos remember_menu="1" folder="0" entry="0"/>
    </folders>
	<favorites>
		<fav></fav>
	</favorites>
</root>
